{% extends "base.html" %}
{% block content %}

<h1>{{ question.module }}</h1>
{% if question.question_text %}
<h2>{{ question.question_text }}</h2>
{% endif %}
{% if question.question_image %}
<img src="{{ question.question_image.url }}" alt="" width="400px">
{% endif %}

<form action="{% url 'exam:question' m_id q_id %}" method="post">
    {% csrf_token %}
    <input type="radio" name="answer" id="ans0" value="0"
    {% if asnwer == '-'%} checked{% endif %}>
    <label for="ans0">Respuesta Inicial</label>
    <br>
    <input type="radio" name="answer" id="ans1" value="A"
    {% if asnwer == 'A'%} checked{% endif %}>
    <label for="ans1">{{ question.asnwer1 }}</label>
    <br>
    <input type="radio" name="answer" id="ans2" value="B"
    {% if asnwer == 'B'%} checked{% endif %}>
    <label for="ans2">{{ question.asnwer2 }}</label>
    <br>
    {% if question.asnwer3 %}
    <input type="radio" name="answer" id="ans3" value="C"
    {% if asnwer == 'C'%} checked{% endif %}>
    <label for="ans3">{{ question.asnwer3 }}</label>
    <br>
    {% endif %}
    {% if question.asnwer4 %}
    <input type="radio" name="answer" id="ans4" value="D"
    {% if asnwer == 'D'%} checked{% endif %}>
    <label for="ans4">{{ question.asnwer4 }}</label>
    <br>
    {% endif %}
    <input type="submit" value="Siguiente">
</form>


{% endblock %}